[submodule "dummy-service1"]
	path = dummy-service1
	url = https://github.com/WiktorKania/dummy-service1
[submodule "dummy-service2"]
	path = dummy-service2
	url = https://github.com/WiktorKania/dummy-service2
[submodule "dummy-service3"]
	path = dummy-service3
	url = https://github.com/WiktorKania/dummy-service3
